@charset "utf-8";
/* CSS Document */
/*container*/
*{margin:0; padding:0;}

p{font-family: Monospace;}

/*nav*/
#nav{
	 z-index:1;
     width:100%;/*1332/1366*/
	 margin:0 auto;
	 /* border:1px solid #222; */
	 background-color:#111;
	 background-image:linear-gradient(#444,#111);
	 /* border-radius:5px; */
	 box-shadow:0 1px 1px #777;
	 font-size:16px;
	 font-weight:bold;
	 /* display:block; */
}


#nav ul .nav-links{
					list-style:none;
					display:block;
					zoom:1;
}

#nav:before,#nav:after{
						content:"";
                        display:block;
}

#nav:after{clear:both;}

#nav li:first-child:before{display:none;}

#nav ul  li{
		float:left;
        border-right:1px solid #222;
		box-shadow:1px 0 0 #444;
		position:relative;
		display: flex;
}

/* clear the last border and shadow */
#nav ul li:last-child{
					border:none;
					box-shadow:none;
}

#nav ul  li a{
		 float:left;
         padding:12px 28px;
		 display:flex;
		 color:#FFF;
		 font:bold 1.125em;/*18px*/
		 text-decoration:none;
		 text-align: center;
		 text-shadow:0 1px 0 #000;
}

#nav ul li a:hover{color:#999;}

#nav ul ul{
			 visibility:hidden;
             position:absolute;
			 list-style:none;
			 top:2em;/*38px*/
			 left:0;
			 z-index:1;
			 padding:0;
			 background-color:#444;
			 background-image:linear-gradient(#444,#111);
			 box-shadow:0 -1 0 rgba(255,255,255,.3);
			 border-radius:5px;
			 opacity:0;
			 margin:50px 0 0 0;
			 _margin:0;
			 transition:all .5s ease-in-out;			  
}

#nav ul li:hover > ul{
					opacity:1;
                    visibility:visible;
					margin:18px 0 0 0;
}

#nav ul ul li{
			float:none;
			display:block;
			border:0;
			box-shadow:0 1px 0 #111,0 2px 0 #666;/*两级阴影生成分割线*/
}

/* clear the last border and shadow */
#nav ul ul li:last-child{
					border:none;
					box-shadow:none;
}

#nav ul ul a{ 
			padding:10px;
            /* width:100%; *//*130/1332*/
			text-align: left;
		    display:block;
			float:none;
			_height:10px;
}
#nav ul ul a:hover{
               background-color:#033;/*background blue*/
               background-image:linear-gradient(#033,#030);
}

/*round angle*/
#nav ul ul li:first-child > a{
							border-radius:3px 3px 0 0;
}

#nav ul ul li:last-child > a{
							border-radius:0 0 3px 3px;
}

#nav ul ul li:first-child > a:before{
								content:"";
								position:absolute;
								left:35%;/*40/1332*/
								top:-6px;/*-6px*/
								border-left:6px solid transparent;/*6px*/
								border-right:6px solid transparent;
								border-bottom:6px solid #444;
}

#nav ul ul li:first-child > a:hover:before{
					border-bottom-color:#033;/*triangle two*/
}

#nav ul ul ul{
			top:0;
			left:150px;
			margin:0 0 0 20px;
			_margin:0;
			box-shadow:-1px 0 0 rgba(255,255,255,.3);
}

#nav ul ul ul li:first-child > a:before{
									left:-6px;
									top:50%;
									margin-top:-16px;
									border-left:0;
									border-bottom:6px solid transparent;
									border-top:6px solid transparent;
									border-right:6px solid #3b3b3b;
}

#nav ul ul ul li:first-child a:hover:before{
										border-right-color:#033;
										border-bottom-color:transparent;
}/*triangle three*/

#nav .logo{
			color:white;
			/* text-transform:uppercase; */
			letter-spacing:1px;
			font-variant: small-caps;
			font-size:16px;
			padding:10px;
			display:none;
			float:left;
	}
	
#nav-links{
			display:flex;
			justify-content:space-around;
}

#nav-links li{
				list-style:none;
}

#nav-links a{
				color:white;
				text-decoration:none;
				letter-spacing:1px;
				font-size:16px;
				font-weight:bold;
}

.burger{
			display:none;
			padding:6px;
			cursor:pointer;
}

.burger div{
			width:25px;
			height:3px;
			background-color:white;
			margin:5px;
}

/*content begin*/
#content{
			width:68.96047%;/*942/1366*/
			height:62.5em;/*1000/16*/
			margin:0 auto;
			
}
#container1{ z-index:0;}

/*box begin*/               
.box{
		width:100%;/*942/942*/
		margin:0 auto;
}

.box p{padding:10px 0px;}

.box1{
		width:32%;/*242/942*/
}

.box2{
		width:32%;/*322/942*/
}

.box3{
		width:32%;/*342/942*/
}

.text-warning{
				color:#693;
}

.box1-title,.box2-title,.box3-title{
									  border-bottom:1px solid #111;
									  color:#FFF;
									  text-align:center;
									  padding:4px 0;/*4px*/
									  background-color:#444;
									  background-image:linear-gradient(#444,#111);
									  box-shadow:0 -1 0 rgba(255,255,255,.3);
}
									  
.box1-content,.box2-content,.box3-content{
											font-size:16px;
											padding:0px 0.625em;
											margin-top:0.625em;
											word-wrap:break-word;
}
	 
.box1,.box2,.box3{
					min-height:20em;
					margin:0.6em 0.5% 0.5%;
					border:1px solid #CCC;
					float:left;
					background:#EEE;
					position:relative;
}

.button a{text-decoration:none;color:#FFF;text-align:center;line-height:2.5em;display:block;font-size:1em;}
.button{width:90px;height:2.5em;background:#39F;border-radius:0.5em;position:absolute;bottom:0.625em;right:0.625em;}
.button:hover{background:#9CF;}

/*content end*/
/*copyright begin*/
#copyright{
	       clear:both;
           background:#031;
		   background-image:linear-gradient(#030,#063);
		   opacity:.9;
		   color:#1aa347;
	}
.map{float:left;padding-left:0.3660322%;}
a{text-decoration:none;color:#337ab7;}
a:hover{text-decoration: underline;}
.E-mail{float:right;padding-right:0.3660322%;}
.E-mail .e a{color:#999;}
.phone{width:55%; text-align:center;margin:0 auto;}
.E-mail .e,.phone .tel{color:#999;}
.cr-bottom{clear:both;padding:0.3660322%;text-align:center;color:#999;}
/*end*/

.title0{margin-left:-40px;}



/* media screen begin */
@media screen and (max-width: 1332px){

.title0{margin-left:-40px;}

#nav ul li{
        border-right:none;
		box-shadow:none;	
		width:10%;
}

#nav ul #nav-links{
				list-style:none;
				display:flex;
				padding:0;
}

#nav ul li a{
		  display:flex;
		  padding:14px 20px;
}

#nav ul ul li{
		   width:100%;
}

#nav ul ul{
		  top:28px;/*32px*/
}

#nav ul ul a{ padding:12px;
}

#nav-links a{
			color:white;
			list-style:none;
			text-decoration:none;
			letter-spacing:1px;
			font-size:16px;
			font-weight:bold;
			padding:12px 20px;
}
}


@media screen and (max-width: 1024px){

#nav ul li{
        border-right:none;
		box-shadow:none;	
		width:10%;
}

#nav ul #nav-links{
				 list-style:none;
				 display:flex;
				 padding:0;
}

#nav ul li a{
		  display:flex;
		  padding:12px 20px;
}

#nav ul ul li{
		   width:100%;
}

#nav ul ul{
		  top:20px;/*32px*/
}

#nav ul ul a{ padding:8px;
}

#nav-links a{
			color:white;
			list-style:none;
			text-decoration:none;
			letter-spacing:0.5px;
			font-size:12px;
			font-weight:bold;		
}
}


@media screen and (max-width: 881px){

.content-top{display:none;}

/*content begin*/
#content{width:70%;/*942/1366*/
         height:62.5em;/*1000/16*/
         margin:0 auto;
}

#container1{ z-index:0;}

/*box begin*/               
.box{width:100%;/*942/942*/
     margin:0 auto;
}

.box1,.box2,.box3{
				width:100%;/*242/942*/
				float:none;
				min-height:15em;
}
}


@media screen and (max-width: 768px){

.title0{margin-left:0px;}

#nav ul  li{
		float:none;
		width:100%;
        /* border-right:1px solid #222;
		box-shadow:1px 0 0 #444; */
		position:relative;
		display: block;
		clear:both;
}

#nav ul  li a{float:none;
          padding:12px 20px;
		/* display:flex; */
		  color:#FFF;
		  font:bold 1.125em;/*18px*/
		  text-decoration:none;
		  text-align: center;
		 /*  text-shadow:0 1px 0 #000; */
}

#nav ul ul li:first-child > a:before{
								left:20%;/*40/1332*/
}

#nav .logo{
		color:white;
		/* text-transform:uppercase;*/
		letter-spacing:1px;
		font-variant: small-caps;
		color:#9CF;
		font-size:16px;
		padding:10px;
		display:block;
		float:left;
		margin:7px;
	}
	
#nav #nav-links .home a{
		background:#000;
		position:relative;
}

#nav-links{
			display:block;
			justify-content:space-around;
			clear:both;
			display:none;
}

#nav-links li{
			list-style:none;
}

#nav-links a{
			color:white;
			text-decoration:none;
			letter-spacing:1px;
			font-size:16px;
			font-weight:bold;
}

.burger {
		display:block;
		padding:6px;
		cursor:pointer;
		float:right;
		background:#9CF;
		border-radius:10px;
		margin:5px;
}

.burger div{
			width:25px;
			height:3px;
			background-color:#eee;
			margin:5px;
}

#nav .burger:hover{
			background:#000;
			cursor:pointer;
}



.content-top{display:none;}

/*content begin*/
#content{width:80%;/*942/1366*/
         height:62.5em;/*1000/16*/
         margin:0 auto;
}
#container1{ z-index:0;}



/*box begin*/               
.box{width:100%;/*942/942*/
     margin:0 auto;
}

.box1,.box2,.box3{
				width:100%;/*242/942*/
				float:none;
				min-height:15em;
}

}






	
