*{padding:0;margin:0;}

.content1 .bold{font-weight:bold;margin-top:20px;}
.content1 .italic{font-style:italic;}
.content1 a:link{color:#03C;}
.content1 a:visited{color:#03C;}
.content1 a:hover{text-decoration:underline;}


.content1 .news{float:right;margin-left:20px;}
.content1 .news1{float:left;margin-right:20px;}
.content1 .news1 img{width:256px;height:192px;}
.content1 .news2{float:right;margin-left:20px;}
.content1 .news2 img{width:256px;height:192px;}
.content1 .news3{margin-left:10%;}
.content1 .news3 img{width:256px;height:192px;}

.content1 .section{margin-bottom: 50px;}

/* .content1 .title{margin-bottom: 50px;} */

.content1 h4{margin-top: 30px;}
