input[type=text], select {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    
    background-color: #4CAF50;
    color: white;
	font-size:16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


textarea {
   
	margin: 8px 0;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


h3{
   color:#36C;
   text-align:center;
}

h4 a{
   color:#36C;
   text-align:center;
} 
.download{
		
		text-align:center;
		padding:10px 5px 10px 5px;
		margin-bottom:40px;
		border-radius: 6px;
		border:1px solid #999;
		background-color:#CCC;}

.dl{
   
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}