*{padding:0;margin:0;}
.content1{font-size:18px;}
p{line-height:40px;}
.PI{margin:20px auto;padding:10px 0px;}
.italic1{font-style:italic;}
.italic{font-style:italic;font-weight:600;}
.bold{font-weight:bold;}


.bottom{margin-bottom:50px;}
.Dpet{margin-left:60px;}


#nav .title3 a:visited{color:#999;}

.pi{float:right;margin-top:80px;margin-right:40px;}
.linkedin{font-weight:bold;font-size:18px;margin-top:-30px;}
.sidebar{width:16.6%;margin-top:50px;margin-left:83.8%;padding:15px;position:fixed;}


